.container-main {
  max-width: 1024px;
  background-color: #fff;
  margin: 0.3rem auto 0;
  padding: 1rem;
  border-radius: 1rem;
}

.move-left-1 {
  animation-name: left-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.move-left-2-1 {
  animation-name: left-2-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.move-left-2-2 {
  animation-name: left-2-2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.move-left-3-1 {
  animation-name: left-3-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.move-left-3-2 {
  animation-name: left-3-2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.move-left-3-3 {
  animation-name: left-3-3;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delete-right-1of3 {
  animation-name: delete-1of3;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.after-removal-3of3 {
  animation-name: after-delete-3of3;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delete-right-2of3 {
  animation-name: delete-2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.after-removal-1of3 {
  animation-name: after-delete-1of3;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delete-right-3 {
  animation-name: delete-3;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.after-removal-2of3 {
  animation-name: after-delete-2of3;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delete-right-1of2 {
  animation-name: delete-1of2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.after-removal-2of2 {
  animation-name: delete-2of2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delete-right-2of2 {
  animation-name: after-delete-2of2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes left-1 {
  0% {
    left: 1030px;
  }

  100% {
    left: 362px;
  }
}

@keyframes left-2-1 {
  0% {
    left: 358px;
  }

  100% {
    left: 212px;
  }
}

@keyframes left-2-2 {
  0% {
    left: 1030px;
  }

  100% {
    left: 512px;
  }
}

@keyframes left-3-1 {
  0% {
    left: 212px;
  }

  100% {
    left: 62px;
  }
}

@keyframes left-3-2 {
  0% {
    left: 512px;
  }

  100% {
    left: 362px;
  }
}

@keyframes left-3-3 {
  0% {
    left: 1030px;
  }

  100% {
    left: 662px;
  }
}

@keyframes delete-1of3 {
  0% {
    left: 62px;
    top: 10px;
  }

  40% {
    top: 200px;
  }

  100% {
    left: 1030px;
    top: 10px;
  }
}

@keyframes after-delete-3of3 {
  0% {
    left: 662px;
  }

  100% {
    left: 512px;
  }
}

@keyframes delete-2 {
  0% {
    left: 362px;
    top: 10px;
  }

  40% {
    top: 200px;
  }

  100% {
    left: 1030px;
    top: 10px;
  }
}

@keyframes after-delete-1of3 {
  0% {
    left: 62px;
  }

  100% {
    left: 212px;
  }
}

@keyframes delete-3 {
  0% {
    left: 662px;
    top: 10px;
  }

  40% {
    top: 200px;
  }

  100% {
    left: 1030px;
    top: 10px;
  }
}

@keyframes after-delete-2of3 {
  0% {
    left: 362px;
  }

  100% {
    left: 512px;
  }
}

@keyframes delete-1of2 {
  0% {
    left: 212px;
    top: 10px;
  }

  40% {
    top: 200px;
  }

  100% {
    left: 1030px;
    top: 10px;
  }
}

@keyframes delete-2of2 {
  0% {
    left: 512px;
    top: 10px;
  }

  40% {
    top: 200px;
  }

  100% {
    left: 1030px;
    top: 10px;
  }
}

@keyframes after-delete-2of2 {
  0% {
    left: 212px;
  }

  100% {
    left: 362px;
  }
}